@font-face {
    font-family: "Misfit";
    src: url(/MISFITS_.ttf);
}

body{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background: #e4a788;
}

#headerLogo{
  max-width: 550px;
}

h1{
  font-family: "Misfit";
  font-size: 3em;
}

button{
  width: 200px;
  padding: 10px;
  border: none;
  background: #97ce4c;
  font-size: 1em;
}

#results{
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 2em;
  min-height: 100px;
}

img{
  max-height: 400px;
  max-width: 250px;
}
